on boot
    mkdir /data/opponvitems  0771 radio radio
    write /proc/sys/fs/suid_dumpable 1
    setprop persist.vendor.radio.force_on_dc true

    mkdir /persist/camera 0777 system system
    chmod 0755 /dev/cpuset
    mkdir /dev/freezer
    mount cgroup none /dev/freezer freezer
    chown system system /dev/freezer
    chmod 0755 /dev/freezer/

    chown system system /dev/freezer/cgroup.procs
    chmod 0666 /dev/freezer/cgroup.procs
    chown system system /dev/freezer/tasks
    chmod 0666 /dev/freezer/tasks

    chown system system /dev/cpuset/cgroup.procs
    chown system system /dev/cpuset/foreground/cgroup.procs
    chown system system /dev/cpuset/foreground/boost/cgroup.procs
    chown system system /dev/cpuset/background/cgroup.procs
    chown system system /dev/cpuset/system-background/cgroup.procs
    chown system system /dev/cpuset/top-app/cgroup.procs

    chmod 0666 /dev/cpuset/foreground/cgroup.procs
    chmod 0666 /dev/cpuset/foreground/boost/cgroup.procs
    chmod 0666 /dev/cpuset/background/cgroup.procs
    chmod 0666 /dev/cpuset/system-background/cgroup.procs
    chmod 0666 /dev/cpuset/top-app/cgroup.procs
    chmod 0666 /dev/cpuset/cgroup.procs

    chown system system /dev/stune/background/cgroup.procs
    chown system system /dev/stune/top-app/cgroup.procs
    chown system system /dev/stune/foreground/cgroup.procs
    chown system system /dev/stune/rt/cgroup.procs
    chmod 0666 /dev/stune/background/cgroup.procs
    chmod 0666 /dev/stune/top-app/cgroup.procs
    chmod 0666 /dev/stune/foregroud/cgroup.procs
    chmod 0666 /dev/stune/rt/cgroup.procs

    # OTG
    write /sys/class/power_supply/usb/otg_switch 1
